{% extends 'MainPage/main.html' %}
{% block content %}
<div class="grid-container">
  <div class="item1">
    <form action="/cow/search">
      <input type="text" name="earring_num">
      <input type="submit">
    </form>
  </div>
  <div class = "item2">
    <a class="btn btn-sm btn-info" href="{% url 'sort' %}">Data urodzenia</a>
  </div>
</div>
<table class="center">
  <tr>
    <th>ID</th>
    <th>Nr kolczyka</th>
    <th>Data urodzenia</th> 
    <th>Płeć</th>
    <th>Data wycielenia</th>
    <th>Data rui</th>
    <th>Kupiec</th>
    <th>Data zakupu</th>
    <th>Cena zakupu</th>
    <th>Aktualizuj</th>
    <th>Usuń</th>
  </tr>
  {% for k in cows %}
  <tr>
    <td>{{k.id}}</td>
    <td>{{k.earring_number}}</td>
    <td>{{k.birth_date}}</td>
    <td>{{k.sex}}</td>
    <td>{{k.calving_date}}</td>
    <td>{{k.estrus_date}}</td>
    <td>{{k.buyer}}</td>
    <td>{{k.sale_date}}</td>
    <td>{{k.sale_price}}</td>
    <td><a class="btn btn-sm btn-info" href="{% url 'update' k.id %}">Edycja</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'delete' k.id %}">Usuń</a></td>
  </tr>
  {% endfor %}
</table>


{% endblock %}



