{% extends 'MainPage/main.html' %}
{% block content %}
<div class="d-flex justify-content-center" style="margin-top:60px">
    <form method="post" class="form-group w-50" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p}}
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
      {% endif %}
        <button type="submit">Dodaj</button>
    </form>
</div>

{% if field.field_image %}
<img src={{field.field_image.url}}>
{% endif %}

{% endblock %}

