{% extends 'MainPage/main.html' %}
{% block content %}
<div class = "container">
    <div class="row justify-content-around" style="margin-top:100px">
        <div class="col-3"> <a class="btn btn-sm btn-info" href="{% url 'field_values' field.id %}">Dodaj wartości NPK</a> </div>
    
        <div class="col-3"> <a class="btn btn-sm btn-info" href="{% url 'add_product' field.id %}"> Dodaj środek</a> </div>

        <div class="col-3"> <a class="btn btn-sm btn-info" href="{% url 'count_product' field.id %}">Przelicz NPK</a> </div>
    </div>
</div>
{% endblock %}