{% extends 'MainPage/main.html' %}
{% block content %}
<div class="container">
  <div class="row" style="margin-top:60px">
    <div class="col-md-4 offset-md-2" >
      <form action="/field/search">
        <input type="text" name="earring_num" placeholder="Numer pola">
        <button class="btn btn-success" type="submit">Szukaj</button>
      </form>
    </div>

    <div class="col-md-4" >
      <div class="dropdown" style="margin-bottom:40px" >
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sortowanie
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'sort_location' %}">Sortuj po lokalizacji</a></li>
          <li><a class="dropdown-item" href="{% url 'sort_area' %}">Sortuj po powierzchni</a></li>
          <li><a class="dropdown-item" href="{% url 'sort_present'  %}">Sortuj po uprawie</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>




<table class="center">
  <tr>
    <th>ID</th>
    <th>Nr działki</th>
    <th>Nr ARiMR</th> 
    <th>Powierzchnia</th>
    <th>Lokalizacja</th>
    <th>Zasobność</th>
    <th>Kwasowość</th>
    <th>Poprzednia uprawa</th>
    <th>Obecna uprawa</th>
    <th>Zabiegi agrotechniczne</th>
    <th>NPK</th>
    <th>Aktualizuj</th>
    <th>Usuń</th>
  </tr>
  {% for k in field %}
  <tr>
    <td>{{k.id}}</td>
    <td>{{k.field_number}}</td>
    <td>{{k.ar_label}}</td>
    <td>{{k.area}}</td>
    <td>{{k.location}}</td>
    <td>{{k.soil_richness|default_if_none:''}}</td>
    <td>{{k.acidity|default_if_none:''}}</td>
    <td>{{k.last_seed|default_if_none:''}}</td>
    <td>{{k.present_seed|default_if_none:''}}</td>
    <td><a class="btn btn-sm btn-info" href="{% url 'treatment_field' k.id %}">Podgląd</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'fieldNPK' k.id %}">NPK</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'update_field' k.id %}">Edycja</a></td>
    <td><a class="btn btn-sm btn-info" href="{% url 'delete_field' k.id %}">Usuń</a></td>
  </tr>
  {% endfor %}
</table>



{% endblock %}



