{% extends 'MainPage/main.html' %}
{% block content %}
<div class = "container">
    <div class="row justify-content-around" style="margin-top:100px">
        <div class="col-3"> <a class="btn btn-sm btn-info" href="">Dodaj opryski</a> </div>
    
        <div class="col-3"> <a class="btn btn-sm btn-info" href="{% url 'delete_field' k.id %}">Dodaj nawożenie</a> </div>

        <div class="col-3"> <a class="btn btn-sm btn-info" href="{% url 'delete_field' k.id %}">Dodaj zbiór </a> </div>
    </div>
</div>


<table class="center">
    <tr>
      <th>ID</th>
      <th>Nr działki</th>
      <th>Powierzchnia</th>
      <th>Lokalizacja</th>
      <th>Środek</th>
      <th>Ilość</th>
    </tr>
    {% for k in spraying %}
    <tr>
      <td>{{k.id}}</td>
      <td>{{k.field_number}}</td>
      <td>{{k.ar_label}}</td>
      <td>{{k.area}}</td>
      <td>{{k.location}}</td>
      <td>{{k.soil_richness}}</td>
      <td>{{k.acidity}}</td>
      <td><a class="btn btn-sm btn-info" href="{% url 'update_field' k.id %}">Edycja</a></td>
      <td><a class="btn btn-sm btn-info" href="{% url 'delete_field' k.id %}">Usuń</a></td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}