{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
    
<head>
    <title>Agro application</title>
    <link rel="stylesheet" href="{% static 'formating.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'sortsearch.css' %}"> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>

<body>
<div class="topnav">
    <a href="/">Home</a>
    <div class="subnav">
        <button class="subnavbtn">Krowy <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/cow/table">Lista krów</a>
            <a href="/cow/create">Dodaj krowę</a>
        </div> 
    </div>

    <div class="subnav">
        <button class="subnavbtn">Owce <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/cow/table">Lista owiec</a>
            <a href="/cow/create">Dodaj owcę</a>
        </div> 
    </div>
    
    <div class="subnav">
        <button class="subnavbtn">Pole <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/todo">Lista działek</a>
            <a href="/todo">Dodaj działkę</a>
            <a href="/todo">NPK</a>
            <a href="/todo">Przeliczenie środków</a>
        </div> 
    </div>

    <div class="subnav">
        <button class="subnavbtn">Kilometrówka <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a href="/todo">Archiwum</a>
            <a href="/todo">Nowa kilometrówka</a>
        </div> 
    </div>
</div>
    
{% block content %}

{% endblock %}

</body>

</html>

